.header{
    display:flex;
    justify-content: space-between;
    padding:1.3rem 2rem;
    font-weight: 700;
    border-radius: 0 0 10px 10px;
}

.header>.title{
    font-size: 2rem;
    display: flex;
    color:rgb(255, 255, 255);
    background-color: rgba(170, 189, 240, 0.103);
    padding: 5px 10px;
    border-radius: 20px;
}

.header>.title:hover{
    cursor:pointer
}

.scores{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    padding:5px 20px;
    border-radius: 10px;
}

.scores>div{
    align-self: self-end;
}

.pokemonLogo{
    height:50px;
    margin-right:10px ;
}